<H2>Your order has been processed. Thank you for shopping with us!!</H2>
<br />

<%= image_tag "thankyou.png", height: "100%", width: "100%" %><br /><br>

<div class="text-center">
    <h3><a href="/gallery/index">Click here to continue the shopping</a></h3>
</div>